<nav class="navbar navbar-expand-lg align-content-lg-center navbar-light bg-light">
    <a  class="navbar-brand " href="/"> <img src="{{ site.url }}/style/images/logo-liorange.png" alt="{{ site.title }}" > </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for link in site.links %}
            <li class="nav-item active">
                <a class="nav-link" href="{{link.url}}" data-hover="{{link.name}}">{{ link.name }}</a>
            </li>
            {% endfor %}

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<style>
    body{
        font-size: 14px;
    }
    .navbar{
        min-height: 80px;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
        box-shadow: 0 1px 5px rgba(0, 0, 0, .1);

    }
    .navbar-brand img{
        width: 38%;
    }
</style>
