---
title: 看过的书|正在看的书
description: "分享正在看和看过想看的一些书籍"
layout: common
---

<div class="container" >
		{% assign temp = 0 %}
		{% for posts in site.posts %}
		{% if posts.book%}
		{% assign temp = temp | plus: 1 %}

		{% if temp ==1%}
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<img src="{{posts.background-image}}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{ posts.title }}</h5>
							<a class="card-text">{{ posts.category }}</a>
							<a class="card-text">{{ posts.date | date: "%F %H:%M:%S "}}</a>
						</div>
					</div>
				</div>
		{%else if temp == 2%}
				<div class="col-sm-6">
					<div class="card">
						<img src="{{posts.background-image}}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{ posts.title }}</h5>
							<a class="card-text">{{ posts.category }}</a>
							<a class="card-text">{{ posts.date | date: "%F %H:%M:%S "}}</a>
						</div>
					</div>
				</div>
			</div>
		{% assign temp = temp | plus: -2 %}
		{% endif %}
		{% endif %}
		{% endfor %}
</div>


